/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.b-c {
    background-color: white;
}

nav ul li a {
    color: #0A608F;
    font-weight: bold;
    font-size: 20px;
}

nav li a:hover {
    text-decoration: underline;
}

/* #663399 */

.btn-large {
    background-color: #24AD05 !important; 
}

.mobile-button {
    margin-left: 10px;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 600px) {
    .nav-img {
        height: 54px;
    }
}

.icon-block {
  padding: 0 15px;
}

.material-icons {
    color: #0a608f;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}